body {
    background: #272C2D;
}

a {
    color: #729FCF;
}

#logo {
    color: #FFFFFF;
    text-align: center;
    width: 100%;
    background-color: #272C2D;
}

#footer {
    color: #FFFFFF;
    text-align: center;
    margin-top:40px;
}

#content {
    text-align: center;
    margin: 0 auto;
}

#centered-content {
    text-align: center;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    background: #2E3436;
}